@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('https://images.pexels.com/photos/19073628/pexels-photo-19073628/free-photo-of-apaixonado.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
div.quadrado{
    border-radius: 10px;
    background-color: lightgray;
    border: 2px solid black;
    height: 300px;
    width: 250px;
    margin: auto 10px;
  display: inline-block;
}

div#q1{
    background-color: skyblue;
}
div#q2{
    background-image: linear-gradient(to bottom, blue, red);
}
div#q3{
  background-image: url(imagens/wallpaper002.jpg);
}
/* backgound repeat */