@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('imagens/pattern004.png');
}
div.quadrado{
    border-radius: 10px;
    background-color: lightgray;
    border: 2px solid black;
    height: 300px;
    width: 300px;
    margin: auto;
  display: inline-block;
}

div#q1{
    background-color: skyblue;
}
div#q2{
    background-image: linear-gradient(to bottom, blue, red);
}
div#q3{
  background-image: url(imagens/wallpaper002.jpg);
}