@charset "utf-8";

body{
    /* shorthands */
    background: black url('../backgroun-position/TRIPPIE.png') center center no-repeat fixed;
    /* o background-size não funciona dentro da shorthands */
    background-size: cover;
}

main{
    min-width: 320px;
    max-width: 800px;
    background-color: aliceblue;
    color: black;
    margin:  40px
    10px 40px 30px;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
    text-align: justify;

}
p{
    text-indent: 20px;
    text-transform: uppercase;
 font-weight: bold;
}