@charset "UTF-8";


div{
    width: 400px; 
    margin: 100px auto;
}

table{ 
    width: 400px;
    height: 400px;
    border-collapse: collapse;
    color: rgb(0, 0, 0);   
}
td{
    border: 2px solid;
    padding: 8px;
    vertical-align: sub;
    
}
td:hover{
    font-size: 20px;
    
}

.dado1:hover{
    background-color: rgba(255, 238, 0, 0.514);
    transition: background .9s;
}
.dado:hover{
    background-color: rgba(153, 205, 50, 0.466);
    transition: background .9s;
}
.dado2:hover{
    background-color: rgba(137, 43, 226, 0.384);
    transition: background .9s;
}