@charset "utf-8";


body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    padding: 30px;
    text-decoration: underline;
}
pre{
    background-color: black;
    color: rgba(255, 17, 0, 0.897);
    padding: 30px;
}
pre p{
    color: aliceblue;
    text-decoration: underline;
    font-style: italic;
}
table{
    width: 400px;
    border-collapse: collapse;
    text-transform: capitalize;
}
td, th{
    border: 2px solid black;
    padding: 20px;

}
th{
    background-color: gray;
    color: aliceblue;
}

.cabeça:hover{
    background-color: rgba(137, 43, 226, 0.555);
    transition: background .9s;
}
.num:hover{
    background-color: rgba(43, 92, 226, 0.555);
    transition: background .9s;
}
.link{
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
    color: rgb(255, 255, 255);
}