@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100&family=Roboto:ital,wght@0,900;1,100&display=swap');

@font-face {
    font-family: 'sriracha';
    src: url('fonte/Sriracha-Regular.ttf') format(trutype);
}
*{
    margin:  0;
    padding: 0;
}
:root{
    --fonte-padrão: Passion one;
    --fonte-destaque:'sriracha regular' cursive;
}

header{
    background-color: black;
    padding: 50px;
}
header h1{
    color: aliceblue;
    text-align: center;
    font-family: var(--fonte-destaque);
    text-transform: uppercase;
}
header.principal{
    text-align: center;
}